@charset "UTF-8";

/*Configurações Gerais*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
 }

/*Fontes Externas*/
@font-face {
  font-family: 'Bebas';
  src: url('../fontes/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tiny";
  src: url('../fontes/Tiny5-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


 /*Raiz*/
 :root{

  --cor1:#626278;
  --cor2:#454557;
  --cor3:#23232E;
  --cor4:#19192C;
  --cor5:#0F0F24;  

  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-bebas: 'Bebas';
  --fonte-tiny: 'Tiny';
 }


/*Cabeçalho*/

/*Mobile-Menu*/

 a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cor3);
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 900px) {

    body {
      overflow-x: hidden;
    }

    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: var(--cor3);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  } 

  
  /* PC-Menu*/

  /*dropdown-log*/
  div.dropdown-log {
    position: absolute;
    width: 0px;
    display: none;
  }

  li.dropdown-log:hover div.dropdown-log{
    display: block; 
    cursor: pointer; 
  }

  div.dropdown-log li {
    position: relative;
    text-align: center;
    list-style: none;
    width: 90px;
    display: block;
    transform: translate(-55%, 5%);
    background-color: var(--cor3);
    box-shadow:  0 0 0px black;
    padding-bottom: 2px;
  }

  div.dropdown-log li:hover{
    background-color: var(--cor2);
  }

  div.dropdown-log li a {
    display: block;
    color: #fff;
  }


  /*dropdown-conf*/
  div.dropdown-conf {
    position: absolute;
    width: 0px;
    display: none;
  }

  li.dropdown-conf:hover div.dropdown-conf{
    display: block; 
    cursor: pointer; 
  }

  div.dropdown-conf li {
    position: relative;
    text-align: center;
    list-style: none;
    width: 140px;
    display: block;
    transform: translate(-23%, 5%);
    background-color: var(--cor3);
    box-shadow:  0 0 0px black;
    padding-bottom: 2px;
  }

  div.dropdown-conf li:hover{
    background-color: var(--cor2);
  }

  div.dropdown-conf li a {
    display: block;
    color: #fff;
  }